
# Dependencias
node_modules/

# Variables de entorno y secretos
.env
.env.*
!.env.example

# Compilaciones
dist/
build/
coverage/
*.tsbuildinfo

# Expo / React Native
.expo/
web-build/
android/
ios/

# Archivos locales y temporales
*.log
npm-debug.log*
.DS_Store
Thumbs.db

# Editores
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/

# Archivos de pruebas y herramientas
.cache/
.nyc_output/
